.card {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--body);
}

.icon *,
.icon svg {
  fill: currentColor;
  stroke: currentColor;
}

.description {
  font-size: var(--font-size-small);
  color: var(--grey-dark);
}
