.projectCard {
  display: flex;
  flex-wrap: wrap;
  padding: 1.875rem 1.25rem;
  justify-content: center;
  align-items: start;
  gap: 4rem;
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  background: var(--background);
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
}

.projectCard:hover {
  transform: scale(1.01);
}

.projectCardIcon {
  width: 5rem;
  aspect-ratio: 1 / 1;
  fill: var(--accent-dark);
}

.projectCardIconWrapper {
  width: 9.375rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-light);
}

.projectCardContent {
  max-width: 25rem;
}

.projectCategoryLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 12px 16px;
  border-radius: var(--border-radius);
  font-size: 12px;
}

.categoryLabelIcon {
  width: 1rem;
  fill: var(--grey-dark);
}

.projectCardTitle {
  margin-bottom: 0.5rem;
}

.projectCardDescription {
  font-size: var(--font-size-base);
  color: var(--body);
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  padding: var(--padding-button);
  background-color: var(--grey-light);
  color: var(--grey-dark);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  border: 1px solid var(--border-dark);
}

.projectFilters {
  display: flex;
  gap: var(--gap-md);
  margin-bottom: 2rem;
}

.projectCards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .projectCard {
    display: flex;
    justify-content: start;
    gap: 1.25rem;
  }

  .projectCardIconWrapper {
    width: 5rem;
  }

  .projectCardIcon {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    fill: #008dff;
  }
}
