.card{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.3125rem;
    border: 1px solid #CCC;
    background: var(--Grey-Light, #F1F1F1);
    transition: var(--transition-global);
}

.title{
  /* Ignore theming */
  color: #4A4A4A !important;
  font-size: var(--font-size-base);
}


@media (max-width: 768px){
  .title{
  font-size: var(--font-size-base);
  }
}