.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-dark);
    background: var(--grey-light);
    transition: var(--transition-global);
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--grey-dark);
}

.title{
  color: var(--grey-dark) ;
  font-size: var(--font-size-base);
}