.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.welcomeText {
  max-width: 35rem;
}

.profileImage {
  width: 8rem;
  border-radius: 50%;
  text-align: left;
  margin-bottom: 1rem;
}

.contentTop {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  flex-wrap: wrap;
}

.linkCards {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  flex-wrap: wrap;
}

.creativeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
