.header {
    display: flex;
    padding: 1.7rem 1.8rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 3.125rem;
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: var(--font-size-base);
    background: var(--background);
}

.headerLogo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--heading);
}

.nav {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
}

.headerControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
}

.themeButton,
.themeButtonMobile {
    color: var(--body);
    background: transparent;
    border: none;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: var(--transition-global);
}

.icon * {
    fill: currentColor;
    stroke: currentColor;
}

.icon { 
    width: 1.4rem; 
    height: 1.4rem; 
    display: block; 
}

.toggleOn{
    color: #38C25D;
}

.hamburger,
.headerControlsMobile,
.themeButtonMobile
{
    display: none;
}

@media (max-width: 768px) {

    .header{
        display: flex;
        align-items: center;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    .nav,
    .headerControls {
        display: none;
    }

    .hamburger,
    .headerControlsMobile,
    .themeButtonMobile {
        display: flex;
        align-items: center;
        gap: var(--gap-lg);
    }

    .hamburger {
        font-size: 2rem;
    }

    .dropdownMenu {
        display: none;
    }

    .headerControlsMobile {
        position: relative;
    }

    /* Without the :global, it won't show */
    .dropdownMenu:global(.open) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-lg);
        position: absolute;
        top: 100%;
        right: 0px;
        z-index: 10;
        background-color: var(--background);
        padding: 1rem 2rem;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
        border: 1px solid var(--border-dark);
    }

    
}
