:root{
    --gap-header: 20px;

    --body: #4A4A4A;
    --heading: #111111;
    --grey-light: #F1F1F1;
    --background: #F9FAFB;
    --border: #ccc;

    --background-dark: #212121;
    --body-dark: #B0B3B8;
    --heading-dark: #E5E7EB;
    --border-dark: #555555;

    --transition-global: 0.1s ease-in-out;


    --font-size-base: 16px;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --line-height-body: 1.6;
    --line-height-heading: 1.2;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;

}

p, h1, h2, a, link, button{
    color: var(--body);
    text-decoration: none;
}

p{
    font-size: var(--font-size-base);
    line-height: var(--line-height-body);
}

h1{
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
}

header{
    display: flex;
    padding: 1.6rem 1.8rem; 
    justify-content: space-around;
    align-items: center;
    border-radius: 3.125rem;
    border: 1px solid var(--border);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10); 
    margin-top: 1.5rem; 
    margin-left: 4rem; 
    margin-right: 4rem; 
    font-size: var(--font-size-base);
}

button{
    border: none;
    background-color: transparent;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: var(--transition-global);
}

a, link{
    transition: var(--transition-global);
    font-size: var(--font-size-base);
    line-height: var(--line-height-body);
}

button:hover, a:hover, link:hover{
    opacity: 0.8;
}

button:active, a:active, link:active{
    transform: translateY(2px);
}

.hamburger, .header-controls-mobile, .theme-button-mobile{
    display: none;
}



.header-logo{
    font-size: 1rem;
    font-weight: 600;
}

nav, .header-controls{
    display: flex;
    align-items: center;
    gap: var(--gap-header);
}


/* Media Breakpoints */
@media (max-width: 768px) {

    :root {
    --font-size-base: 14px;
    --font-size-h1: 2rem;
    --font-size-h2: 1.6rem;
    }


  nav, .header-controls {
    display: none;          
  }
  .hamburger, .header-controls-mobile, .theme-button-mobile {
    display: block;        
    display: flex;
    align-items: center;
    gap: var(--gap-header)
  }

  .hamburger{
    font-size: 2rem;
  }

}